@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
}

img {
  width: 600px;
  display: block;
  margin: 10px auto;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  display: block;
  margin: 0 auto 16px;
}

ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

a {
  text-decoration: none;
  color: gray;
}